define theme:
  description = "my theme hehe"
  colors:
    # General UI color.
    exclusion = "black"
    today     = "red"
    holiday   = "blue"
    label     = "blue"
    ids       = "yellow"
    debug     = "blue"

  # Rotating Color Palette for tags.
  palette:
    color01 = "white on red"
    color02 = "white on blue"
    color03 = "black on green"
    color04 = "black on magenta"
    color05 = "black on cyan"
    color06 = "black on yellow"
    color07 = "black on white"
    color08 = "white on bright red"
    color09 = "white on bright blue"
    color10 = "black on bright green"
    color11 = "black on bright magenta"
    color12 = "black on bright cyan"
    color13 = "black on bright yellow"


exclusions.monday = <7:00
exclusions.tuesday = <7:00
exclusions.wednesday = <7:00
exclusions.thursday = <7:00
exclusions.friday = <7:00
exclusions.saturday = <7:00
exclusions.sunday = <7:00
