snippet ent "Account Entry" Ab
`env LC_ALL=en_IE.utf8 date --date="today" "+%Y-%m-%d"` ${1:Payee}
    ${2:Expenses}:${3:SubAccount}         AMOUNT EUR
    ${4:Account}:${5:SubAccount}
endsnippet

snippet groc "Groceries Entry" Ab
`env LC_ALL=en_IE.utf8 date --date="today" "+%Y-%m-%d"` * Mercadona
    Expenses:Groceries         ${1:AMOUNT} EUR
    Assets:CurrentAccIE
endsnippet
