snippet hi "Diarynote Tpl Full (Tomorrow)" bAi
# [ ] `env LC_ALL=en_US.utf8 date --date="today" "+%d-%m-%Y %A"`

= What time did get out of bed at? =
  - $0 

= Tasks for the day =
  1. [ ] Brush your teeth - Morning
  2. [ ] Brush your teeth - Evening
  3. [ ] $1

= Thoughts for the day =

= One thing you are grateful for =
endsnippet
